a{
	color: #e83119;
	text-decoration: none;
	-webkit-transition-property: color;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing: ease-out;
}
a:hover{
	color: #0a99ae;;
}
body{
	font-size: 30px;
}
li{
	display: inline;
}
#border-nav a{
	border-bottom: 3px solid #e83119;
	-webkit-transition: border .3s ease-out;
}
#border-nav a:hover{
	border-bottom: 50px solid #e83119;
	color: #e83119;
}
#border-nav{
	margin-bottom: 60px;
}
.bg-clip{
	font-size: 40px;
	background: url('clipped_image.png') repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-transform: rotate(-5deg);
}